.font
{
  font-size: 22px;
  color:#212529;
  font-family: Barlow,sans-serif;
  font-weight: 600;
}
.P3
{
    font-size: 14px;
      color: #FF9100;
      font-family: Rubik;
      font-weight: 700;
}
.all
{
margin: 50px;
}
