.box-spacing {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 100px;
}
.box:hover{
 border: solid #ffb007;
}

.ul{
    background-color:#EBEBEB !important;
    padding: 30px ;
}

.ul:hover{
    background-color: #ffb007 !important;  
}


.btn-btn{
    margin-top: 100px;
    margin-left: 8px;
    margin-right:10px;
    background-color: #890000;
    border-color:#890000 ;
    color: white !important;
    cursor: pointer;
    border-radius: .5rem;
    width: 100%;
    display: block;
    border-radius: 999px; 
    box-sizing: border-box;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;-webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

.btn-btn:focus {
    outline: 2px ;
    outline-offset: 2px;
}
.color{
 bottom: 0px;
 left: 0px;
 padding: 8px 12px;
 color: #fff;
 font-size: 16px;
 background-color: rgba(0, 0, 0, 0.6);
}

.style{
    color:rgb(99, 113, 153);
}
span{
    color: #ffb007;
}

.apropos{
    color:#e9e6e6;
     text-align: center;
}

.apropos1{
    color: #e9e6e6;
    text-align: right;
}
.position{
    text-align: center;
}

.containerF{
    background-color:rgb(167, 161, 161);
}

.row.py-5{
    margin: 15px;
}


.image{
 margin: 1px;
  Width: 200px;
height: auto;
}
.nav {
    margin-top: 0px;
    background-color: white;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 0.9rem;
    width: 100%;
    position: fixed;
    
}



.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 5rem;
    position: center;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.Re {
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 30px;

}

.division{
    
    background-color: rgb(253, 174, 56);
    z-index: 99999;
    overflow-x: hidden;
    height: auto;
    
    font-size: 12px;
    font-weight: 700;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 35px;  
    border-color: transparent;
}

.division.place{
    padding: 0 0.8rem;
    padding-left: 1rem;
}
.links{
        padding: 30px;
        font-size: 50;
        color: #fff;
        height: 50px;
        line-height: 7px;
        background-color: #ffffff;
             
}
